.search-bar {
    display: flex;
    flex-direction: row;
    margin: 10px 0 20px 0 ;
}

.search-bar-form {
    display: flex;
    flex-direction: row;
}

.search-bar-input   {
    width: 400px;
    padding: 8px;
    border-radius: 7px;
}

.search-bar-input:focus {
    padding: 12px;
}

.search-bar-input:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}